---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import { getEntry } from "astro:content"
import type { CV } from "@/cv"

const cvCollection = await getEntry('cv', 'en')
const { basics, education, work, projects, skills } = cvCollection.data as CV
const { name, label } = basics
const months = [
  "January",   // Enero
  "February",  // Febrero
  "March",     // Marzo
  "April",     // Abril
  "May",       // Mayo
  "June",      // Junio
  "July",      // Julio
  "August",    // Agosto
  "September", // Septiembre
  "October",   // Octubre
  "November",  // Noviembre
  "December"   // Diciembre
];
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero  basics={basics}/>
    <About basics={basics} />
    <Experience months={months} work={work} />
    <Education education={education} />
    <Projects projects={projects} />
    <Skills skills={skills} />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
